<br/>

<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">Információ</h1>
  </div>
  <div class="panel-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad eos incidunt
      laudantium nisi optio, quod sapiente. A at eum fuga. Consequuntur distinctio, eos et facilis quasi sequi ut!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad eos incidunt
      laudantium nisi optio, quod sapiente. A at eum fuga. Consequuntur distinctio, eos et facilis quasi sequi ut!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad eos incidunt
      laudantium nisi optio, quod sapiente. A at eum fuga. Consequuntur distinctio, eos et facilis quasi sequi ut!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad eos incidunt
      laudantium nisi optio, quod sapiente. A at eum fuga. Consequuntur distinctio, eos et facilis quasi sequi ut!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad eos incidunt
      laudantium nisi optio, quod sapiente. A at eum fuga. Consequuntur distinctio, eos et facilis quasi sequi ut!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad eos incidunt
      laudantium nisi optio, quod sapiente. A at eum fuga. Consequuntur distinctio, eos et facilis quasi sequi ut!
    </p>
  </div>
</div>